<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HODLINFO </title>
    <link rel="stylesheet" href="/css/main.min.css">
</head>
<body>
    <nav class="w-screen py-3 md:px-10 px-4">
        <div class="text-6xl text-[#6ccacb] font-medium">HODLINFO</div>
    </nav>
    <%-body%>
</body>

</html>